<div class="flex p-2 justify-center shadow-md items-center bg-gray-700">
    <div class="m-4 flex flex-grow justify-center" id="but">
        <button routerLink="/myaccount/transfer"
            class=" text-blue-950 bg-[#20aed8] font-bold py-2.5 px-5 rounded-s-3xl transition ease-in-out delay-150    hover:-translate-y-1 hover:scale-110 hover:bg-transparent hover:border-transparent duration-300 ">
            Enviar
        </button>
        <button routerLink="/myaccount/transfer/request"
            class=" text-blue-950 bg-[#9be3e9] font-bold py-2.5 px-5 rounded-e-3xl transition ease-in-out delay-150   hover:-translate-y-1 hover:scale-110 hover:bg-transparent hover:border-transparent duration-300 ">
            Socilitar
        </button>
    </div>
</div>