<div *ngIf="loading; else content">
  <app-splashcreen></app-splashcreen>
<!-- <div
  class="fixed inset-0 flex items-center justify-center h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
  role="status">
  <span
    class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
</div> -->
</div>

<ng-template #content>
  <div class="h-screen">
    <div class="sm:mx-auto  sm:w-full sm:max-w-sm">
      <div class="flex flex-grow justify-center">
      <h2 class="mt-20 text-5xl text-center font-extrabold text-[#084bbe]">Qui</h2><h2 class="mt-20 text-5xl text-center font-extrabold text-[#08daff]">Pay!</h2>

      </div>
      <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Incodek - PayFast"> -->
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-400">¡Hola, te damos la bienvenida!
      </h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off" class="space-y-6" method="POST">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
          <div class="mt-2">
            <input formControlName="email" id="email" name="email" type="email" placeholder="Ingrese su email" autocomplete="email" required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="text-sm">
              <a routerLink="/forgot-password" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot
                password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input formControlName="password" id="password" name="password" type="password" placeholder="Ingrese su password"
              autocomplete="current-password" required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <button type="submit"
            class="flex w-full justify-center rounded-md bg-[#084bbe] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#08daff] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
            in</button>
        </div>
      </form>
  
      <p class="mt-10 text-center text-sm text-gray-500">
        Aún no eres miembro?
        <a routerLink="/register" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">¡Create tu cuenta
          ahora!</a>
      </p>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>

