<div class="flex h-screen mt-14 flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Incodek - PayFast"> -->
    <h2 class="text-5xl text-center font-extrabold text-blue-600">PayOne</h2>
    <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Crea tu cuenta</h2>
  </div>

  <div class="flex justify-center">

    <!-- DIV IZQUIERDA -->
    <!-- <div class="flex justify-center">
      <img class="w-1/3 m-0.5" src="https://th.bing.com/th/id/R.60d930c20451788e61f94a156a1f85de?rik=GEv%2fx%2fHt%2bOkr4Q&riu=http%3a%2f%2faboutsupermariobros.files.wordpress.com%2f2011%2f01%2fmario-1.jpg&ehk=lfvV10yonA9mx820RzfX8QEfzExO%2fXtMMus43xnGjf4%3d&risl=&pid=ImgRaw&r=0" alt="">
    </div> -->
    <!-- FIN DIV -->

    <div class="mt-10">
      <form (ngSubmit)="create_user()" [formGroup]="registerForm" autocomplete="off" class="w-full max-w-lg">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-names">
              Names
            </label>
            <input formControlName="names"
              class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-names" type="text" placeholder="Escribe sus nombres">
            <p *ngIf="campo_no_valido('names')" class="text-red-600 text-xs italic">El nombre debe tener más de 3
              carácteres</p>
    
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-surnames">
              Surnames
            </label>
            <input formControlName="surnames"
              class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-surnames" type="text" placeholder="Escriba sus apellidos">
            <p *ngIf="campo_no_valido('surnames')" class="text-red-600 text-xs italic">El apellido debe tener mas de 3
              carácteres</p>
    
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-dni">
              Dni
            </label>
            <input formControlName="dni"
              class="appearance-none block w-full   text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-dni" type="text" placeholder="0900000000">
            <p *ngIf="campo_no_valido('dni')" class="text-red-600 text-xs italic">El dni debe contener al menos 10 digitos
              y debe ser válido</p>
    
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-phone">
              Phone
            </label>
            <input formControlName="phone"
              class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-phone" type="text" placeholder="+593 0900000000">
            <p *ngIf="campo_no_valido('phone')" class="text-red-600 text-xs italic">El número telefónico debe ser válido
            </p>
    
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
              Email
            </label>
            <input formControlName="email"
              class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-email" type="email" placeholder="example@example.com">
            <p *ngIf="campo_no_valido('email')" class="text-red-600 text-xs italic">Procure que el email sea válido</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
              Password
            </label>
            <input formControlName="password"
              class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-password" type="password" placeholder="******************">
            <p *ngIf="campo_no_valido('password')" class="text-red-600 text-xs italic">La contraseña debe contener al
              menos 8 carácteres</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-repeat-password">
              Repeat Password
            </label>
            <input formControlName="repeat_password"
              class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-repeat-password" type="password" placeholder="******************">
            <p *ngIf="passwords_valid()" class="text-red-600 text-xs italic">Procure que la contrseña sea igual a la
              anterior</p>
          </div>
        </div>
    
       
        <div class="relative flex gap-x-3 mb-4">
          <div class="flex h-6 items-center">
            <input formControlName="terms" id="terms" name="terms" type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
          </div>
          <div class="text-sm leading-6">
            <label for="terms" class="font-medium text-gray-900">Términos y Condiciones</label>
            <p class="text-gray-500">Al aceptar los términos y condiciones damos por echo que estas de acuerdo con el uso
              de
              tus
              datos!.</p>
          </div>
        </div>
        <p class="text-red-500" *ngIf="accept_terms()">*Debes aceptar los terminos y condiciones</p>
        <div>
          <button type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register
            now</button>
        </div>
      </form>
      <p class="mt-10 text-center text-sm text-gray-500">
        Ya eres miembro?
        <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">¡Inicia sesión ahora!</a>
      </p>
    </div>

  </div>
</div>
<!-- <app-footer></app-footer> -->