<div class="margen">
    <!-- <div class="border shadow-lg rounded-lg">
        <div id="title-balance" class="m-4 flex flex-grow">
            <h1 class="text-center text-gray-400 text-4xl font-light tracking-tight">Your balance is</h1>
        </div>
    
        <div class="flex m-4 justify-center">
            <div class="px-4 m-5 sm:px-0">
    
                <div id="amount-balance" class=" m-4 flex justify-center">
                    <h2 class="mt-1 text-7xl text-green-500 font-bold">{{balance}}</h2>
                </div>
            </div>
        </div>
    </div> -->
    
    <div>
    
        <div class="flex flex-grow justify-center">
            <div class="px-4 border w-3/12 h-3/6 m-5 shadow-2xl bg-green-500 border-green-500 rounded-2xl sm:px-0">
    
                <div id="title-balance" class="m-4 flex flex-grow justify-between">
                    <div class="flex border rounded-2xl border-white">
                        <p class=" m-1 text-center italic text-white font-semibold">Mastercard</p>
                    </div>
                    <div>
                        <p class=" m-1.5 text-center text-white font-semibold">PayOne</p>
                    </div>
                </div>
    
                <div class="flex flex-grow">
                    <div>
                        <div id="amount-balance" class=" m-1 ml-4 flex flex-grow">
                            <p class="text-center font-light text-sm text-white leading-9">Current Balance</p>
                        </div>
                        <div class="flex m-1">
                            <h2 class="ml-3 text-md font-bold leading-6 text-white">{{balance}}</h2>
                        </div>
    
                        <div id="name-user" class="m-2 ml-4 italic text-white text-sm flex flex-grow">
                            <p>{{user.names}} {{user.surnames}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</div>