<div class="border shadow-lg rounded-lg">
    <div id="title-balance" class="m-4 flex flex-grow">
        <h1 class="text-center text-gray-400 text-4xl font-light tracking-tight">Your balance is</h1>
    </div>
    
    <div class="flex m-4 justify-center">
        <div class="px-4 m-5 sm:px-0">
    
            <div id="amount-balance" class=" m-4 flex justify-center">
                <h2 class="mt-1 text-7xl text-green-500 font-bold">{{balance}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="border rounded-lg mt-6 ">
    <div class="m-4">
        <h3>Transferencias realizadas</h3>

    </div>
</div>