<div class="margen">
    <div class="flex p-3 justify-center shadow-md items-center bg-gray-200">
        <div class="m-4 flex flex-grow justify-center" id="but">
            <button routerLink="/myaccount/transfer"
                class=" text-blue-950 bg-yellow-400 font-bold py-2.5 px-5 rounded-full transition ease-in-out delay-150  border-yellow-400  hover:-translate-y-1 hover:scale-110 hover:bg-yellow-200 hover:border-transparent duration-300 lg: mr-7">
                Enviar
            </button>
            <button routerLink="/myaccount/transfer/request"
                class=" text-blue-950 bg-yellow-400 font-bold py-2.5 px-5 rounded-full transition ease-in-out delay-150  border-yellow-400  hover:-translate-y-1 hover:scale-110 hover:bg-yellow-200 hover:border-transparent duration-300 lg: mr-7">
                Socilitar
            </button>
        </div>
    </div>


    <div class="py-12">
        <div class="flex m-6 justify-center">
            <input type="text" class="border italic rounded-full w-96 border-transparent shadow-md"
                placeholder="Ingresa el email o código">
            <button
                class="bg-green-400 border shadow-md rounded-full w-10 h-10 ml-1 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 lg: mr-7">
                <i class="fa-solid text-white fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="flex justify-center">
            <button
                class="bg-blue-500 w-20 text-white shadow-md font-semibold h-10 ml-1 border rounded-full transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 lg: mr-7">
                Siguiente
            </button>
        </div>
    </div>

    <!-- <div class="py-5">
        <div class="flex m-6 justify-center">
            <button class="bg-blue-500 w-20 text-white shadow-md font-semibold h-10 ml-1 border rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 lg: mr-7">Siguiente</button>
            <button
                class="bg-blue-400 border shadow-md rounded-md w-10 h-10 ml-1 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 lg: mr-7">
                Siguiente
            </button>
        </div>
    </div> -->

</div>