<div class="margen">
    <div class="flex p-3 justify-center shadow-md items-center bg-gray-200">
        <div class="m-4 flex flex-grow justify-center" id="but">
            <button routerLink="/myaccount/transfer/send"
                class=" text-blue-950 bg-yellow-400 font-bold py-2.5 px-5 rounded-full transition ease-in-out delay-150  border-yellow-400  hover:-translate-y-1 hover:scale-110 hover:bg-yellow-200 hover:border-transparent duration-300 lg: mr-7">
                Enviar
            </button>
            <button routerLink="/myaccount/transfer/request"
                class=" text-blue-950 bg-yellow-400 font-bold py-2.5 px-5 rounded-full transition ease-in-out delay-150  border-yellow-400  hover:-translate-y-1 hover:scale-110 hover:bg-yellow-200 hover:border-transparent duration-300 lg: mr-7">
                Socilitar
            </button>
        </div>
    </div>
   
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form  autocomplete="off" class="space-y-6"
        method="POST">
        <div>
          <div class="flex flex-grow justify-between">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">¿A quién le vas a enviar?</label>
            <div class="text-sm">
              <a routerLink="/forgot-password" class="font-semibold text-indigo-600 hover:text-indigo-500">Tienes un
                código?</a>
            </div>
          </div>
          <div class="mt-2">
            <input formControlName="email" id="email" name="email" type="email" placeholder="Ingrese el email del usuario"
              autocomplete="Destinatario" required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">¿Cuánto dinero?</label>
          <div class="mt-2">
            <input formControlName="amount" id="amount" name="amount" type="text" placeholder="$0.00" autocomplete="Monto"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">¿Deseas dejarle algún
            mensaje?</label>
          <div class="mt-2">
            <input formControlName="comment" id="comment" name="comment" type="text" autocomplete="Mensaje" required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <button type="submit"
            class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">Transferir</button>
        </div>
      </form>
  
    </div>
  </div>
</div>