
 <!-- Barra lateral -->
 <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/myaccount/contacts">
                    Contactos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/myaccount/transfer">
                    Transferencias
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/myaccount/balance">
                    Balance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/myaccount/activities">
                    Registro de actividad
                </a>
            </li>
        </ul>
    </div>
</nav>
