<div class="flex flex-col justify-center ">

    <div class="flex flex-grow justify-center mt-36 mb-6">
    
        <div class="flex bg-white p-3 shadow-md">
            <div>
                <h1 class="text-2xl font-extrabold">Últimos Movimientos </h1>
            </div>
            <!-- <div class="ml-1.5">
                <h1 class="text-lg font-semibold">{{user.names}} 😜</h1>
            </div> -->
        </div>
    
    </div>
<!-- <div class="bg-green-400">
    <div class="flex m-6 justify-center">
        <input type="text" class="border rounded-full w-96 border-transparent shadow-md"
            placeholder="Buscar transacción por email">
        <button
            class="bg-green-400 border shadow-md rounded-full w-10 h-10 ml-1 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 lg: mr-7">
            <i class="fa-solid text-white fa-magnifying-glass"></i>
        </button>
    </div>
</div> -->

<div class="flex flex-col" *ngIf="hidden_transaction; else content">
    <div class="info mt-7">
        <h1 class="text-5xl text-center text-gray-600 italic font-semibold">Ups!, sin movimientos</h1>
        <br>
        <p class=" text-gray-500 text-center italic">Aún no realizas movimientos</p>
    </div>

    <div class="flex flex-grow justify-center" >
        <div class="w-80">
            <img src="assets/img/not_found.jpg" class="text-center"  alt="balance">
            <!-- <i class="fa-solid fa-wallet text-[#41d17d] text-8xl"></i> -->
        </div>
    </div>
</div>

<ng-template #content>
    <div class=" ml-2 mr-2 border rounded-lg">
        <div class="m-5">

                        <div class="flex flex-grow justify-start mt-11 mb-6">
                        
                            <div class="flex bg-white p-3 border rounded-md">
                                <div>
                                    <h1 class="text-lg italic text-green-400 font-semibold">INGRESOS </h1>
                                </div>
                            </div>
                        
                        </div>
                        
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">TRANSACCION</th>
                                    <th scope="col">MONTO</th>
                                    <th scope="col">CONCEPTO</th>
                                    <th scope="col">FECHA</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ingreso of ingresos">
                                    <td>{{ingreso.transaction_id}}</td>
                                    <td><span
                                            class="inline-flex items-center rounded-md bg-green-400 px-2 py-1 text-xs font-semibold text-white ring-1 ring-inset ring-red-600/10">+{{ingreso.amount}}</span>
                                    </td>
                                    <td>{{ingreso.comment}}</td>
                                    <td>{{ingreso.createdDate}}</td>
                                </tr>
                            </tbody>
                        </table>

            <hr>

            <div class="flex flex-grow justify-start mt-11 mb-6">
            
                <div class="flex bg-white p-3 border rounded-md">
                    <div>
                        <h1 class="text-lg italic text-red-400 font-semibold">EGRESOS </h1>
                    </div>
                </div>
            
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">TRANSACCION</th>
                        <th scope="col">MONTO</th>
                        <th scope="col">CONCEPTO</th>
                        <th scope="col">FECHA</th>
                        <th scope="col">COMPROBANTE</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let egreso of egresos">
                        <td scope="row">{{egreso.transaction_id}}</td>
                        <td><span
                            class="inline-flex items-center rounded-md bg-red-400 px-2 py-1 text-xs font-semibold text-white ring-1 ring-inset ring-red-600/10">-{{egreso.amount}}</span></td>
                        <td>{{egreso.comment}}</td>
                        <td>{{egreso.createdDate}}</td>
                        <th class="border-t-0 px-6 align-middle border-l-0 text-center border-r-0 text-xs whitespace-nowrap p-4" tooltip="Descargar">
                            <button (click)="downloadPdf(egreso.transaction_id)"><i class="fa-solid fa-file-arrow-down text-2xl"
                                    style="color: #2bdec9;"></i></button>
                        </th>

                    </tr>
                    
                </tbody>
            </table>

            <hr>
        </div>
    </div>
</ng-template>
</div>


