<div class="flex flex-col justify-center ">

    <div class="flex flex-grow justify-center mt-36 mb-6">
    
        <div class="flex bg-white p-3 shadow-md">
            <div>
                <h1 class="text-2xl font-extrabold">Registro de actividad </h1>
            </div>
            <!-- <div class="ml-1.5">
                <h1 class="text-lg font-semibold">{{user.names}} 😜</h1>
            </div> -->
        </div>
    
    </div>


<div class="flex flex-col" *ngIf="hidden_transaction; else content">
    <div class="info mt-7">
        <h1 class="text-5xl text-center text-gray-600 italic font-semibold">Ups!, sin movimientos</h1>
        <br>
        <p class=" text-gray-500 text-center italic">Aún no realizas movimientos</p>
    </div>

    <div class="flex flex-grow justify-center" >
        <div class="w-80">
            <img src="assets/img/not_found.jpg" class="text-center"  alt="balance">
            <!-- <i class="fa-solid fa-wallet text-[#41d17d] text-8xl"></i> -->
        </div>
    </div>
</div>

<ng-template #content>
    <div class="filters buttons">
        <label for="filters">Filters</label>
        <select name="filters" id="filters">
            <option value="">All</option>
            <option value="">Egresos</option>
            <option value="">Ingresos</option>
            
        </select>
    </div>

    <div class="buttons flex flex-grow">
        <div class="range-date">
            <label for="date">Desde</label>
        <input type="date" name="date-start" class="input-date" id="date-start">
        <label for="date-end">Hasta</label>
        <input type="date" name="date-end" class="input-date" id="date-end">
        </div>
        <button type="submit" class="btn btn-color-basic">Buscar</button>

    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">N° Transaccion</th>
            <th scope="col">Monto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tipo de movimiento</th>
            <th scope="col">Fecha de transacción</th>
            <th scope="col">Comprobante</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let egreso of egresos">
            <th scope="row">{{egreso.transaction_id}}</th>
            <td>${{egreso.amount}}</td>
            <td>{{egreso.comment}}</td>
            <td>{{egreso.type_movement}}</td>
            <td>{{egreso.createdDate}}</td>
            <td><button class="btn" (click)="downloadPdf(egreso.transaction_id)"><i class="fa-solid fa-file-arrow-down text-2xl"
                style="color: #2bdec9;"></i></button></td>
          </tr>
        </tbody>
      </table>
</ng-template>
</div>


