<div class="flex flex-col justify-center ">

    <div class="flex flex-grow justify-center mt-36 mb-6">
    
        <div class="flex bg-white p-3 shadow-md">
            <div>
                <h1 class="text-2xl font-extrabold">Registro de actividad </h1>
            </div>
            <!-- <div class="ml-1.5">
                <h1 class="text-lg font-semibold">{{user.names}} 😜</h1>
            </div> -->
        </div>
    
    </div>


<div class="flex flex-col" *ngIf="hidden_transaction; else content">
    <div class="info mt-7">
        <h1 class="text-center">Ups!, sin movimientos</h1>
        <br>
        <p class=" text-gray-500 text-center italic">Aún no realizas movimientos</p>
    </div>

    <div class="notfound_data">
        <div class="img_notfound">
            <img src="assets/img/not_found.jpg" alt="balance">
            <!-- <i class="fa-solid fa-wallet text-[#41d17d] text-8xl"></i> -->
        </div>
    </div>
</div>

<ng-template #content>
    <div class="filters buttons">
        <label for="filters">Filters</label>
        <select [(ngModel)]="opcionSeleccionada" (change)="cargarDatos()" name="filters" id="filters">
            <option value="all">All</option>
            <option value="egresos">Egresos</option>
            <option value="ingresos">Ingresos</option>
            
        </select>
    </div>

    <form (ngSubmit)="findByDate()">
        <div class="buttons flex flex-grow">
            <div class="range-date">
                <label for="date">Desde</label>
            <input type="date" name="startDate" class="input-date" id="startDate" [(ngModel)] ="startDate">
            <label for="date-end">Hasta</label>
            <input type="date" name="endDate" class="input-date" id="endDate" [(ngModel)] ="endDate">
            </div>
            <button type="submit" class="btn btn-color-basic">Buscar</button>
    
        </div>
    </form>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">N° Transaccion</th>
            <th scope="col">Monto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de transacción</th>
            <th scope="col" style="text-align: center;">Ver detalle</th>

            <!-- <th scope="col">Comprobante</th> -->
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of datos" (click)="getTransactionByID(dato.transaction_id)">
                <th scope="row">{{dato.transaction_id}}</th>
                <td>${{dato.amount}}</td>
                <td>{{dato.comment}}</td>
                <td>{{dato.createdDate}}</td>
                <td style="text-align: center;"><a class="btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-eye"></i></a></td>
          </tr>
        </tbody>
      </table>

      <!-- MODAL -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">DETALLE DE MOVIMIENTO</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form *ngIf="dato_seleccionado">
                <div class="mb-3">
                  <label for="id" class="col-form-label">N° transacción:</label>
                  <input type="text" disabled class="form-control" id="id" [(ngModel)]="dato_seleccionado.transaction_id" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                  <label for="createdDate" class="col-form-label">Fecha:</label>
                  <input type="text" disabled class="form-control" id="createdDate" [(ngModel)]="dato_seleccionado.createdDate" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                  <label for="receiver" class="col-form-label">Cuenta beneficiario:</label>
                  <input type="text" disabled class="form-control" id="receiver" [(ngModel)]="dato_seleccionado.receiver.names"  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                  <label for="amount" class="col-form-label">Monto transferido:</label>
                  <input type="text" disabled class="form-control" id="amount" [(ngModel)]="dato_seleccionado.amount" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                  <label for="description" class="col-form-label">Descripción:</label>
                  <input type="text" disabled class="form-control" id="description" [(ngModel)]="dato_seleccionado.comment" [ngModelOptions]="{standalone: true}">
                </div>
                <!-- <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div> -->
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="downloadPdf(dato_seleccionado.transaction_id)"><i class="fa-solid fa-print"></i></button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Añadir</button>
            </div>
          </div>
        </div>
      </div>
</ng-template>
</div>


