<div class="card text-center col-md-3">
  <div class="card-header">
    Nueva Transferencia
  </div>
  <div class="card-body">

    <div class="flex flex-grow justify-center">
      <button (click)="toggleFormulario('send_email')"
        class="btn btn-color-basic">Send to email</button>
      <button (click)="toggleFormulario('send_codigo')"
        class="btn btn-color-basic">Send to code</button>
    </div>

    <div class="row flex text-center">
      <div>

        <!-- FORMULARIO POR CONTACTO -->

        <form class="transer-form" *ngIf="send_email" (ngSubmit)="send_transfer_email()" [formGroup]="transactionForm" autocomplete="off">
          <label for="select" class="select-title">Cuenta destino</label>
          <div class="form-floating mb-3">
            <select id="select" class="form-control" formControlName="email" (change)="onUserSelectionChange($event)" [disabled]="!contacts || contacts.length === 0">
              <option value="">Seleccione un usuario</option>
              <option *ngFor="let contact of contacts" [value]="contact.id_contact.email">
                {{ contact.id_contact.names }} {{ contact.id_contact.surnames }}
              </option>
            </select>
          </div>

          <div class="form-floating mb-3">
            <input formControlName="amount" type="number" class="form-control" id="floatingInput" placeholder="DGYEA-85">
            <label for="floatingInput">Cuánto deseas transferir?</label>
          </div>

          <div class="form-floating mb-3">
            <input formControlName="comment" type="text" class="form-control" id="floatingInput" placeholder="DGYEA-85">
            <label for="floatingInput">Descripción</label>
          </div>

          <button type="submit" [disabled]="transactionForm.invalid" class="btn btn-color-basic">Transferir ahora</button>
        </form>

        <!-- FORMULARIO POR CODIGO -->
        <form *ngIf="send_codigo" (ngSubmit)="send_transfer_by_code()" [formGroup]="transactionFormCode" autocomplete="off">
          <label for="floatingInput" class="select-title">Cuenta destino</label>
          <div class="form-floating mb-3">
            <input formControlName="code" type="text" class="form-control" id="floatingInput" placeholder="DGYEA-85">
            <label for="floatingInput">Ingrese el codigo de la cuenta destino</label>
          </div>

          <div class="form-floating mb-3">
            <input formControlName="amount" type="number" class="form-control" id="floatingInput" placeholder="DGYEA-85">
            <label for="floatingInput">Cuánto deseas transferir?</label>
          </div>

          <div class="form-floating mb-3">
            <input formControlName="comment" type="text" class="form-control" id="floatingInput" placeholder="DGYEA-85">
            <label for="floatingInput">Descripción</label>
          </div>

          <button type="submit" [disabled]="transactionFormCode.invalid" class="btn btn-color-basic">Transferir ahora</button>
        </form>
      </div>
    </div>
  </div>
</div>

