
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Kanit', sans-serif;
}

.container-page{
  margin-top: 5%;
}

.btn-color-basic{
  margin: 5px;
  background: #341BCF;
  color: #fff;
}

.btn-color-basic:hover{
  background: #5039eb;
    color: #fff;
}


/* *******************navbar***************** */
.navbar {
    background-color: #8317D1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* Valor de z-index mayor que el del sidebar */
  }

.navbar-brand{
    color: #ffff;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #e7e7e7;
}

.nav-username {
    border: none;
    color: #fff;
}

.nav-username:hover{
    color: #e7e7e7;
}

.divider{
  border-left: 1px solid #fff; /* Color y grosor de la línea vertical */
  height: 20px; /* Altura de la línea vertical */
  margin: 0 10px;
}

.fa-gear{
    color: #fff;
}

/* *************LOGIN-REGISTER************** */

.container {
    height: 100vh;
  }

  .col-md-6 {
    margin-right: 50px;
    padding: 50px;
  }

  .col-md-4{
    align-items: center;
    justify-content: center;
  }

  .form-group{
    margin-bottom: 20px;
  }


  .btn-login{
    background: #8317D1;
    width: 100%;
    font-weight: bold;
    height: 50;
    color: #fff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .btn-login:hover{
    background: #8b3cc4;
    color: #fff;
  }

  .info-register{
    margin-left: 30%;
  }

  .forgot-password{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-floating{
    margin-top: 30px;
    margin-bottom: 10px;
  }

  a{
    font-size: 0.9rem;
    font-weight: 600;
    color: #8317D1;
    text-decoration: none;
  }

  a:hover{
    cursor: pointer;
  }

  .login-id{
    font-weight: 600;
  }

  .title-login{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .subtitle-login{
    font-weight: 300;
  }

  .form-group{
    margin-top: 20px;
  }

  img {
    width: 50%;
    margin-bottom: 5%;
  }

.title-register{
  color: #43FF99;
  font-weight: 600;
}

.btn-register{
  background: #43FF99;
  font-weight: bold;
    width: 100%;
    height: 50;
    color: #8317D1;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn-register:hover{
  background: #2bf385;
    color: #8317D1;
}



  /* sidebar */

  #sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ebebeb;
    padding-top: 60px;
    z-index: 1; 
  } */

#sidebar ul {
    list-style: none;
    padding: 0;
  }

  #sidebar li {
    margin-bottom: 10px;
  }

  #sidebar a {
    color: #979797;
    font-weight: 500;
    text-decoration: none;
  }

  #sidebar a:hover {
    color: #007bff;
  }


  /* DASHBOARD */

  .text-bienvenida{
    font-weight: bold;
  }

  .container-dash{
    margin: 20PX;
  }

  .card{
    margin-top: 15px;
  }

  .btn-dash{
    background: #341BCF;
    color: #fff;
  }

  .btn-dash:hover{
    background: #5039eb;
    color: #fff;
  }
  
  .dashboard-cards{
    display: flex;
    background: #5039eb;
  }

  .card-dash{
    margin: 10px;
    box-shadow: #007bff;
  }
  

  /* TRANSFER */

  .input-amount{
    border-radius: 5px;
  }

  .input-comment{
    border-radius: 5px;
  }

  #select{
    padding: 0.2rem;
  }

.select-title{
  margin-top: 20px;
}


/* Estilos base del botón */
.submit-button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* ACTIVITIES */

.buttons{
  margin: 5px;
  display: flex;
  align-items: center;
}

.input-date{
  margin: 5px;
}

#filters{
  margin: 5px;
}

.notfound_data{
  position: relative;
  width: 100%;
}

.img_notfound{
  text-align: center;
}

.content {
  display: flex;
  height: 100vh;
}

.column{
  flex: 1;
  display: flex; /* Configura las columnas como contenedores flexibles */
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center; /* Centra horizontalmente el contenido */
  padding: 20px;
}

.column_login{
  align-content: flex-start;
  background-color: #fff;
}

.column_register{
  background: linear-gradient(180deg, #8317D1 0%, rgba(131, 23, 209, 0) 100%)
}