
<div class="flex flex-grow px-5">
    <!-- CARD BALANCE -->
    <div class="px-4 border m-5 rounded-md bg-white sm:px-0">
        <div id="title-balance" class="m-4 flex flex-grow justify-between">
            <h1 class="text-center text-gray-400 font-semibold tracking-tight">Total Balance:</h1>
             <!-- <h2 class="mt-1 text-2xl font-bold italic oldstyle-nums leading-6 text-green-600">$500.00</h2> -->
        </div>
        <div id="amount-balance" class=" m-4 flex">
            <!-- <h1 class="text-center text-XL font-semibold leading-9 tracking-tight">TOTAL BALANCE</h1> -->
             <h2 class="mt-1 text-2xl font-bold italic oldstyle-nums leading-6 text-green-600">{{balance}}</h2>
        </div>
    </div>
<!-- END CARD BALANCE -->

<!-- CARD TRANSACTIONS -->
    <div class="px-4 border m-5 rounded-md bg-white sm:px-0">
        <div id="title-balance" class="m-4 flex flex-grow justify-between">
            <h1 class="text-center text-gray-400 font-semibold tracking-tight">Total transacciones:</h1>
             <!-- <h2 class="mt-1 text-2xl font-bold italic oldstyle-nums leading-6 text-green-600">$500.00</h2> -->
        </div>
        <div id="amount-balance" class=" m-4 flex flex-grow justify-center">
            <!-- <h1 class="text-center text-XL font-semibold leading-9 tracking-tight">TOTAL BALANCE</h1> -->
            <!-- <p class="mr-2">Has realizado:</p> -->
             <h2 class="mt-1 text-lg font-bold text-gray-400">50</h2>
        </div>
    </div>
    <!-- END CARD TRANSACTIONS -->
</div>